.form-field {
    margin-bottom: 25px;
}

.form-label{
    font-size: 14px;
    font-weight: 900;
    color: $black-1;
    margin-bottom: 10px;
}

.form-help-text{
    margin-bottom: 0;
    margin-top: 10px;
    color: $black-1;
    font-size: 14px;
    font-weight: 300;
}

.form-control{
    font-size: 16px;
    font-weight: normal;
    color: $input-border;
    color: #000;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $input-border;
    outline: 0;
    padding-left: 0;
    height: 40px;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $input-border;
        opacity: 1; /* Firefox */
        font-size: 16px;
    }      
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $input-border;
        font-size: 16px;
    }
      
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $input-border;
        font-size: 16px;
    }
	&:focus{
        border: 0;
        border-bottom: 1px solid $input-border;
        box-shadow: none;
        color: #000;
	}
}

.switch {
    position: relative;
    display: inline-block;
    width: 76px;
    height: 35px;
    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    input:checked + .slider {
        background-color: #272727;
        &::after{
            display: none;
        }
    }
      
    input:focus + .slider {
        box-shadow: 0 0 1px #272727;
    }
      
    input:checked + .slider:before {
        transform: translateX(40px);
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $sky-blue;
        -webkit-transition: .4s;
        transition: .4s;
        overflow: hidden;
        &::before{
            position: absolute;
            content: "";
            height: 29px;
            width: 29px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        &:after{
            position: absolute;
            top: -2px;
            right: -2px;
            content: "";
            border-radius: 50%;
            width: 14px;
            height: 14px;
            background-color: #ffec00;
            box-shadow: 0 1px 8.5px 0 #ffec00;
        }
        &.round{
            border-radius: 17px;
            &::before{
                border-radius: 50%;
            }
        }
    }
    
}
  
 