.section-wrapper{
    margin-bottom: 50px;
}
hr.separator{
    margin-top: 13px;
    margin-bottom: 23px;
    border-top: 2px solid $input-border;
}

hr.line-separator{
    border-top: 1px solid var(--font-color);
    margin-top: 36px;
    margin-bottom: 36px;
}


.analysis-title{
    h1{
        @media (max-width: 1024px) {
            font-size: 30px;
        }
        @media (max-width: 767px) {
            font-size: 20px;
            font-weight: 700;
        }
    } 
    @media (max-width: 991px) {
        margin-bottom: 15px;
    }
}
.analysis-list{
    ul{
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        li{
            font-size: 42px;
            font-weight: 900;
            color: var(--font-color);
            display: inline-block;
            position: relative;
            padding-left: 15px;
            span{
                font-size: 22px;
                font-weight: 400;
                @media (max-width: 992px) {
                    font-size: 16px;
                }
                @media (max-width: 767px) {
                    font-size: 15px;
                }
            }
            &:before{
                content: "";
                width: 4px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: var(--yellow);
            }
            @media (max-width: 1024px) {
                font-size: 28px;
            }
            @media (max-width: 767px) {
                margin-bottom: 5px;
                font-size: 20px;
                flex-basis: auto;
                white-space: nowrap;
                margin-right: 15px;
            }
        }
        @media (max-width: 767px) {
            flex-wrap: nowrap;
            overflow-x: scroll;
            display: flex;
        }
    }
}

.datacard{
    border-radius: 17px;
    background-color: var(--card-bg);
    margin-bottom: 40px;
    &-header{
        background-color: var(--card-header-bg);
        padding: 19px 25px;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
        position: relative;
        padding-right: 45px;
        .card-title{
            @media (max-width: 767px) {
                font-size: 15px;
            }
        }
        .card-title-arrow{
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
        @media (max-width: 767px) {
            padding: 13px 15px;
        }
     }
    &-content{
        padding: 35px 25px;
        @media (max-width: 767px) {
            padding: 30px 15px;
        }
    }
    &-footer{
        padding: 20px 25px;
        position: relative;
        a{
            color: var(--card-more);
            text-decoration: none;
            font-size: 18px;
            font-weight: 300px;
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
        &::before{
            position: absolute;
            content: "";
            top: -1px;
            height: 1px;
            width: calc(100% - 50px);
            left: 25px;
            right: 0;
            background: var(--font-color);
            @media (max-width: 767px) {
                left: 15px;
                width: calc(100% - 30px);
            }
        }
        @media (max-width: 767px) {
            padding: 13px 15px;
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 15px;
    }
}

.message{
    ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li{
           padding-bottom: 9px;
           border-bottom: 1px solid var(--font-color);
           margin-bottom: 15px;
            &.hightlighted{
                position: relative;
                &:before{
                    position: absolute;
                    content: "";
                    left: -19px;
                    top: 4px;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background: #95aca4;
                    @media (max-width: 767px) {
                        left: -12px;
                        width: 9px;
                        height: 9px;
                    }
                }
            }
            &:last-child{
                border-bottom: 0;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }        
    }
    &-title{
        margin-bottom: 10px;
        color: var(--font-color);
    }
    &-text{
        p{
            font-size: 18px;
            font-weight: 300;
            letter-spacing: normal;
            color: var(--font-color);
            margin-bottom: 0;
            @media (max-width: 767px) {
                font-size: 13px;
            }
         }
    }
}

.card-section{
    padding: 30px 0;
    border-bottom: 1px solid var(--card-section-border);
    .card-section-header{
        margin-bottom: 25px;
        h3{
            font-size: 24px;
            @media (max-width: 767px) {
                font-size: 16px;
                font-weight: 700 !important;
            }
        }
        h5{
            font-size: 16px;
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
    &:last-child{
        border-bottom: 0;
    }
    @media (max-width: 991px) {
        padding-bottom: 15px;
    }
}

.data-card{
    border-radius: 17px;
    box-shadow: 0 2px 9px 0 rgba(193, 193, 193, 0.5);
    background-color: var(--select-bg-color);
    padding: 26px 0;
    &-inner{
        padding-left: 18px;
        position: relative;
        &::before{
            content: "";
            width: 7px;
            height: 27px;
            background: #f4a24c;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    h1{
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 0;
        color: var(--card-text-color);
        span{
            font-weight: 300;
        }
    }
    h4{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 0;
        color: var(--card-text-color);
    }
    &-inner{
        position: relative;
    }
    @media (max-width: 991px) {
        margin-bottom: 15px;
    }
}