.section-main-title{
    font-size: 27.5px;
    font-weight: normal;
    line-height: normal;
    color: $title-color;
    margin-bottom: 40px;
}

.section-title-1{
    font-size: 23px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $title-color;
    margin-bottom: 0;
}