h1, .h1 { 
    font-size: 40px;
 }
h2, .h2 { 
    font-size: 35px;
}
h3, .h3 { 
    font-size: 29px;
}
h4, .h4 { 
    
}
h5, .h5 { 
    
}
h6, .h6 { 
   
}

.section-title-1{
    font-size: 45px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #272727;
    margin-bottom: 0;
}