h1, .h1 { 
    font-size: 40px;
 }
h2, .h2 { 
    font-size: 35px;
}
h3, .h3 { 
    font-size: 29px;
}

.section-main-title{
    font-size: 40px;
    font-weight: 900;
    line-height: normal;
    color: var(--font-color);
    margin-bottom: 40px;
}

.section-title-1{
    font-size: 23px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--font-color);
    margin-bottom: 0;
}