$primary: theme-color("primary");
$secondary: theme-color("secondary");

$link-color: theme-color("primary");
$link-hover-color: lighten(theme-color("primary"), 20%);

$font-family-base: 'Nunito Sans', Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: 'Nunito Sans', serif, -apple-system;

$text-silver: #6b6b6b;
$black-1: #121212;