{{ define "main" }}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">

			</div>
			<div class="col-md-4">
				<div class="back-button mb-3">
					<button class="p-0 btn-reset">
						<i class="fa fa-arrow-left"></i>
					</button>
				</div>
				<div class="expense-wrap pb-7 pb-lg-0">
					<div class="form-field">
						<label class="form-label">
							<span class="form-label-content">Amount</span>
						</label>
						<input class="form-control w100" type="text" placeholder="">                         
					</div>
					<div class="form-field">
						<label class="form-label">
							<span class="form-label-content">What was this amount spend for</span>
						</label>
						<input class="form-control w100" type="text" placeholder="">                          
					</div>
					<div class="form-field">
						<label class="form-label d-block">
							<span class="form-label-content">This expense is</span>
						</label>
						<div class="custom-radio-input">
							<label class="radio-input">
								Planned Expense
								<input type="radio" checked="checked" name="radio">
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="custom-radio-input">
							<label class="radio-input">
								Incurred Expense
								<input type="radio" name="radio">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
					<div class="form-field">
						<label class="form-label d-block">
							<span class="form-label-content">Note (optional)</span>				
						</label>
						<textarea rows="4" class="form-control w100"></textarea>
					</div>
					<div class="fixed-bottom-button">
						<button class="btn btn-primary btn-w100">Add Expense</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">

			</div>
		</div>		
	</div>

{{ end }}