{{ define "main" }}

<div class="container-fluid">
	<div class="slide-in show">
		<div class="slide-loader">
			
		</div>		
		<div class="slide-in-content">
			<div class="back-button mb-3 p-t-15">
				<button class="p-0 btn-reset">
					<i class="fa fa-arrow-left"></i>
				</button>
			</div>
			<div class="form-field position-relative">
				<label class="form-label">
					<span class="form-label-content">Amount</span>
				</label>
				<div class="currency-select">
					<select class="select select-normal" title="">
						<option value="India">₹</option>
						<option value="USA">$</option>
						<option value="England">£</option>		
					</select>
				</div>
				<div class="currency-input">
					<input class="form-control w100" type="text" placeholder="">   
				</div>                      
			</div>
			<div class="form-field">
				<label class="form-label">
					<span class="form-label-content">What was this amount spend for</span>
				</label>
				<input class="form-control w100" type="text" placeholder="">                          
			</div>
			<div class="form-field">
				<label class="form-label d-block">
					<span class="form-label-content">This expense is</span>
				</label>
				<div class="custom-radio-input">
					<label class="radio-input">
						Planned Expense
						<input type="radio" checked="checked" name="radio">
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="custom-radio-input">
					<label class="radio-input">
						Incurred Expense
						<input type="radio" name="radio">
						<span class="checkmark"></span>
					</label>
				</div>
			</div>
			<div class="form-field">
				<label class="form-label d-block">
					<span class="form-label-content">Note (optional)</span>				
				</label>
				<textarea rows="4" class="form-control w100"></textarea>
			</div>
		</div>
		<div class="fixed-bottom-button show">
			<button class="btn btn-primary btn-w100">Add Expense</button>
		</div>
	</div>	
</div>

{{ end }}