{{ define "main" }}

<div class="container-fluid">
	<div class="slide-in show">
		<div class="slide-loader">
			
		</div>		
		<div class="slide-in-content">
			<div class="back-button mb-2 p-t-15">
				<button class="p-0 btn-reset">
					<span class="i-left"></span>
				</button>
				<button class="btn-reset btn-add p-0 float-right">
					<img src="{{"images/add-icon-dark.svg" | relURL }}" class="n-image" alt="Add" width="18" height="18">
					<img src="{{"images/add-icon-light.svg" | relURL }}" class="h-image" alt="Add" width="18" height="18">
				</button>
			</div>
			<div class="form-field">
				<label class="form-label d-block mb-3">
					<span class="form-label-content h5 m-0">Select the classification of the “Travel to mumbai for toppeq</span>
				</label>
				<div class="custom-radio-input w100">
					<label class="radio-input">
						<input type="radio"  name="radio">
						<span class="text">Accounting sub heads</span>
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="custom-radio-input w100">
					<label class="radio-input">
						<input type="radio" checked="checked" name="radio">
						<span class="text">IT and internet services</span>
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="custom-radio-input w100">
					<label class="radio-input">
						<input type="radio" name="radio">
						<span class="text">Office expenses</span>
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="custom-radio-input w100">
					<label class="radio-input">
						<input type="radio" name="radio">
						<span class="text">Maintenance & repair</span>
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="custom-radio-input w100">
					<label class="radio-input">
						<input type="radio" name="radio">
						<span class="text">Office expenses</span>
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="custom-radio-input w100">
					<label class="radio-input">
						<input type="radio" name="radio">
						<span class="text">Office supplies</span>
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="custom-radio-input w100">
					<label class="radio-input">
						<input type="radio" name="radio">
						<span class="text">Employee benefits</span>
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="custom-radio-input w100">
					<label class="radio-input">
						<input type="radio" name="radio">
						<span class="text">Others</span>
						<span class="checkmark"></span>
					</label>
				</div>
			</div>
		</div>
	</div>	
</div>

{{ end }}