{{ define "main" }}

<div class="container-fluid">
	<div class="section-wrapper">
		<h2 class="section-title-1">Typography</h2>
		<hr class="separator"></hr>
		<h1 class="section-main-title mb-0">Morgan Stanley</h1>
		<h2 class="font-weight-bolder">Company Security List Edit</h2>
		<h5 class="card-title">Total Shareholders</h5>		
		<h5 class="card-title-light">25.09% - Common Shares</h5>
		<label class="label-normal d-block mb-0">Label normal</label>
		<a href="#">Link text</a>
		<br>
		<h1>Heading h1</h1>
		<h2>Heading h1</h2>
		<h3>Heading h1</h3>
		<h4>Heading h1</h3>
		<h5>Heading h1</h5>
		<h6>Heading h1</h6>
	</div>

	<div class="section-wrapper">
		<h2 class="section-title-1">Buttons</h2>
		<hr class="separator"></hr>
		<button class="btn btn-primary">Save Changes</button>
		<p></p>
		<button class="btn btn-outline-primary">Cancel</button>
	</div>

	<div class="section-wrapper">
		<h2 class="section-title-1">Form elements</h2>
		<hr class="separator"></hr>
		<!-- <div class="form-field">
			<label class="form-label">
				<span class="form-label-content">Input Label</span>
			</label>
			<input class="form-control" type="text" placeholder="Text field">    
			<label class="form-help-text">You can press ‘Enter’ instead of clicking the next icon</label>                        
		</div> -->

		<div class="form-field">
			<label class="form-label d-block">
				<span class="form-label-content">Toggle switch</span>
			</label>
			<label class="switch">
				<input type="checkbox" id="checkbox">
				<span class="slider round"></span>
			</label>
		</div>

		<div class="form-field">
			<label class="form-label d-block">
				<span class="form-label-content">Input Label</span>
			</label>
			<select class="select select-normal" title="">
				<option value="India">India</option>
				<option value="USA">USA</option>
				<option value="England">England</option>
				<option value="Belgium">Belgium</option>			
			</select>
		</div>	
	</div>
	<div class="section-wrapper">
		<div class="analysis-wrap">
			<div class="row">
				<div class="col-lg-3">
					<div class="analysis-title">
						<h1 class="section-main-title mb-0">Morgan Stanley</h1>						
					</div>
				</div>
				<div class="col-lg-9">
					<div class="analysis-list">
						<ul>
							<li>500,000 <span>shares</span></li>
							<li>$12,000,458 <span>raised</span></li> 
							<li>$500,000 <span>share holders</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<hr class="line-separator"></hr>
	</div>

	<div class="section-wrapper">
		<div class="row">
			<div class="col-md-6">
				<div class="datacard">
					<div class="datacard-header">
						<h5 class="card-title m-0">Total Shareholders</h5>
						<i class="card-title-arrow fa fa-arrow-right" aria-hidden="true"></i>
					</div>
					<div class="datacard-content">
						asdasdasd
					</div>
					<div class="datacard-footer">
						<a href="#">Show more...</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="datacard">
					<div class="datacard-header">
						<h5 class="card-title m-0">Current Round</h5>
						<i class="card-title-arrow fa fa-arrow-right" aria-hidden="true"></i>
					</div>
					<div class="datacard-content">
						asdasdasd
					</div>
					<div class="datacard-footer">
						<a href="#">Show more...</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="datacard">
					<div class="datacard-header">
						<h5 class="card-title m-0">Funding history</h5>
						<i class="card-title-arrow fa fa-arrow-right" aria-hidden="true"></i>
					</div>
					<div class="datacard-content">
						asdasdasd
					</div>
					<div class="datacard-footer">
						<a href="#">Show more...</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="datacard">
					<div class="datacard-header">
						<h5 class="card-title m-0">Messages</h5>
						<i class="card-title-arrow fa fa-arrow-right" aria-hidden="true"></i>
					</div>
					<div class="datacard-content">
						<div class="message">
							<ul class="list-style-none pl-0">
								<li class="hightlighted">
									<h5 class="card-title message-title">Kaartik | Legal Services</h5>
									<div class="message-text">
										<p>A quick brown fox jumps over a lazy dog. This is a test message to check whether everything is working fine.</p>
									</div>
								</li>
								<li>
									<h5 class="card-title message-title">Kaartik | Legal Services</h5>
									<div class="message-text">
										<p>A quick brown fox jumps over a lazy dog. This is a test message to check whether everything is working fine.</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="datacard-footer">
						<a href="#">Show more...</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-wrapper">
		<div class="row">
			<div class="col-md-6">

			</div>
			<div class="col-md-6">
				<ul class="list-style-none pl-0">
					<li class="d-flex align-items-center justify-content-between mb-1">
						<span class="label-normal">Day Mode/Night Mode</span>
						<label class="switch theme-switch">
							<input type="checkbox" id="checkbox">
							<span class="slider round"></span>
						</label>
					</li>
					<li class="d-flex align-items-center justify-content-between">
						<span class="label-normal">Switch Currency</span>
						<label class="switch">
							<input type="checkbox" id="checkbox">
							<span class="slider round slider-default">USD</span>
						</label>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{{ end }}