{{ define "main" }}

<div class="container-fluid">

	<h1 class="section-main-title">Morgan Stanley</h1>

	<div class="section-wrapper">
		<h2 class="section-title-1">Buttons</h2>
		<hr class="separator"></hr>
		<button class="btn btn-primary">Save Changes</button>
		<p></p>
		<button class="btn btn-outline-primary">Cancel</button>
	</div>

	<div class="section-wrapper">
		<h2 class="section-title-1">Form elements</h2>
		<hr class="separator"></hr>
		<div class="form-field">
			<label class="form-label">
				<span class="form-label-content">Input Label</span>
			</label>
			<input class="form-control" type="text" placeholder="Text field">    
			<label class="form-help-text">You can press ‘Enter’ instead of clicking the next icon</label>                        
		</div>

		<div class="form-field">
			<label class="form-label d-block">
				<span class="form-label-content">Toggle switch</span>
			</label>
			<label class="switch theme-switch">
				<input type="checkbox" id="checkbox">
				<span class="slider round"></span>
			</label>
		</div>

		<div class="form-field">
			<label class="form-label d-block">
				<span class="form-label-content">Input Label</span>
			</label>
			<select class="select select-normal" title="">
				<option value="India">India</option>
				<option value="USA">USA</option>
				<option value="England">England</option>
				<option value="Belgium">Belgium</option>			
			</select>
		</div>		
	</div>

	<div class="section-wrapper">
		<h2 class="section-title-1">Typography</h2>
		<hr class="separator"></hr>
		<h1 class="">Heading 1</h1>
		<h2 class="">Heading 2</h2>
		<h3 class="">Heading 3</h3>
		<h4 class="">Heading 4</h4>
		<h5 class="">Heading 5</h5>
		<h6 class="">Heading 6</h6>
	</div>

</div>

{{ end }}